@media only screen and (max-width:1024px) {
    .main-banner-sec {
        padding-bottom: 30px;
    }

    .mirror-sec {
        padding: 6.3rem 0px;
    }

    .mirror-col1 h2 {
        font-size: 56px;
        line-height: 56px;
    }

    .mirror-col1 p {
        font-size: 14px;
        line-height: 21px;
        max-width: 370px;
        margin-bottom: 30px;
    }

    .mirror-col1 ul li {
        padding: .625rem 0px;
        gap: 15px;
        font-size: 14px;
        line-height: 21px;
    }

    .mirror-col1 ul li .m-ico svg {
        width: 18px;
        height: 18px;
    }

    .mirror-col1 a {
        margin-top: 30px;
    }

    .mirror-row {
        grid-template-columns: 5fr 7fr;
        gap: 20px;
    }

    .mirror-gallery {
        grid-template-columns: 1fr 60px;
        gap: 15px;
    }

    .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
        height: 60px !important;
    }

    .mirror-gallery .slider-thumbnail .swiper-wrapper {
        transform: none !important;
        justify-content: center;
    }

    .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
        padding: 1px;
    }

    .mirror-col1 {
        padding-bottom: 35px;
    }

    .educate-cntnt-row {
        grid-template-columns: 2fr 5fr 5fr;
    }

    .educate-grad {
        height: 70px;
        width: 70px;
    }

    .educate-grad svg {
        max-width: 50px;
    }

    .educate-title h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .educate-txt p {
        font-size: 14px;
        line-height: 21px;
    }

    .educate-sec {
        padding-bottom: 6.3rem;
    }

    .rebranding-sec {
        padding: 3.75rem 0px;
    }

    .rebranding-row {
        grid-template-columns: 64.6% 4fr;
        align-items: end;
    }

    .rebranding-col1 h2 {
        font-size: 88px;
        line-height: 83px;
        width: calc(100vw - 15px);
        margin-bottom: 35px;
    }

    .rebranding-col2 {
        padding-top: 140px;
    }

    .rebranding-col1 {
        height: 100%;
    }

    .rebranding-col2>img {
        max-width: 300px;
    }

    .rbc-grid>img {
        max-width: 208px;
    }

    .rbc-cntnt p {
        font-size: 14px;
        line-height: 21px;
        max-width: 290px;
    }

    .rbc-cntnt a {
        margin-top: 0.85rem;
    }

    .latest-news-sec {
        padding: 6.3rem 0px 4.4rem;
    }

    .ln-grid {
        grid-template-columns: 2.8fr 3.9fr 4fr 1fr;
    }

    .ln-image img {
        width: 100%;
        max-width: 219px;
    }

    .ln-title h3 {
        font-size: 25px;
        line-height: 27px;
    }

    .ln-txt p {
        font-size: 14px;
        line-height: 21px;
    }

    .newsletter-sec {
        padding: 6.3rem 0px;
    }

    .newsletter-grid {
        grid-template-columns: 100%;
    }

    .nws-col1 h2 {
        font-size: 56px;
        line-height: 56px;
        max-width: 950px;
    }

    .nws-col2 form {
        max-width: 614px;
        margin-left: 0;
    }

    /* Taha's Code  */

    .fqb-col1 h1 {
        font-size: 6.25rem;
        line-height: .95;
    }

    .fqb-col2 h2 {
        font-size: max(22.4px, 1.75rem);
        line-height: 1.1;
    }

    .fls-c2>h2 {
        font-size: 55px;
        line-height: 55px;
    }

    .accordion h4 {
        font-size: 20px;
    }

    .cib-row {
       grid-template-columns: 1fr;
    }

    .cib-col2 {
        order: -1;
    }

    .cib-c1-bottom {
        display: flex;
        justify-content: center;
    }

    .cib-c1-bottom>img {
        max-width: 322px;
    }

    .prod-banner .bcr-col2 h1 {
        font-size: 80px;
        line-height: 80px;
    }

    .prod-banner .banner-cntnt-row {
        grid-template-columns: 468px 237px;
    }

    .mirror-col1 h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .feature-top-title h2 {
        font-size: 80px;
        line-height: 80px;
        max-width: 600px;
    }

    .pc-content .pc-txt h3 {
        font-size: 21px;
        line-height: 25px;
    }

    .pc-content .pc-txt p {
        font-size: 16px;
        line-height: 25px;
    }

    .lt-cell h3 {
        font-size: 23px;
        line-height: 27px;
    }

    .work-w-col1 h2 {
        font-size: 60px;
        max-width: 300px;
    }

    .wellness-title h2 {
        font-size: 87px;
        max-width: 500px;
    }

    .dsg-col1 h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .frq-col1 h2 {
        font-size: 60px;
        line-height: 60px;
    }

    .reserve-col1 h2 {
        font-size: 100px;
        line-height: 90px;
    }
}

@media only screen and (max-width:800px) {
    .bcr-col1 {
        display: none;
    }

    .bcr-col2 {
        grid-column: span 2;
    }

    .banner-cntnt-row {
        gap: 30px;
    }

    .mirror-sec {
        padding: 4.7rem 0px;
    }

    .mirror-row {
        grid-template-columns: 100%;
    }

    .mirror-col1 {
        padding-bottom: 60px;
    }

    .mirror-col1 h2 {
        max-width: 100%;
        font-size: 48px;
        line-height: 53px;
        padding: 5px 0px;
    }

    .mirror-col1 p {
        max-width: 730px;
        font-size: 18px;
        line-height: 27px;
    }

    .mirror-col1 ul li {
        max-width: 100%;
    }

    .mirror-col1 ul li .m-ico svg {
        width: 25px;
        height: 25px;
    }

    .mirror-col1 ul li {
        font-size: 18px;
        line-height: 28px;
        gap: 25px;
    }

    .mirror-col1 a {
        margin-top: 40px;
    }

    .mirror-gallery {
        grid-template-columns: 100%;
    }

    .mirror-gallery .slider {
        max-width: 100%;
    }

    .mirror-gallery .slider-thumbnail .swiper-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
        width: 75px !important;
        height: 75px !important;
    }

    .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide:not(.swiper-slide-thumb-active) {
        filter: brightness(1.7) opacity(0.3);
    }

    .educate-cntnt-row {
        grid-template-columns: max-content 1fr;
        align-items: center;
    }

    .educate-txt {
        grid-column: span 2;
    }

    .educate-title h2 {
        max-width: 100%;
        font-size: 30px;
        line-height: 36px;
    }

    .educate-txt p {
        max-width: 100%;
        font-size: 18px;
        line-height: 27px;
    }

    .educate-sec {
        padding-bottom: 4.7rem;
    }

    .rebranding-sec {
        padding: 4.7rem 0px;
    }

    .rebranding-col1 h2 {
        font-size: 61px;
        line-height: 61px;
        width: 100%;
        text-align: center;
    }

    .rebranding-row {
        grid-template-columns: 100%;
    }

    .rbc-grid {
        grid-template-columns: 100%;
    }

    .rbc-grid>img {
        max-width: 327px;
        margin: 0 auto;
    }

    .rbc-cntnt p {
        font-size: 18px;
        line-height: 27px;
        max-width: 100%;
    }

    .rbc-cntnt a {
        margin-top: 1.15rem;
    }

    .rebranding-col2 {
        padding-top: 20px;
    }

    .rebranding-col2>img {
        margin: 0 auto;
        max-width: 450px;
    }

    .latest-news-sec {
        padding: 4.7rem 0px 2rem;
    }

    .latest-news-title h2 {
        font-size: 48px;
        line-height: 53px;
    }

    .site-btn {
        font-size: 14px;
        line-height: 14px;
    }

    .ln-grid {
        grid-template-columns: 100%;
    }

    .ln-image img {
        max-width: 506px;
        margin: 0 auto 10px;
    }

    .ln-title h3 {
        font-size: 30px;
        line-height: 33px;
    }

    .ln-txt p {
        font-size: 18px;
        line-height: 27px;
        max-width: 100%;
    }

    .ln-go {
        margin-left: 0;
    }

    .newsletter-sec {
        padding: 3.75rem 0px;
    }

    .nws-col1 h2 {
        font-size: 48px;
        line-height: 53px;
    }

    .footer-row {
        grid-template-columns: 100%;
        gap: 70px;
    }

    .foot-items-left {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;
    }

    .foot-col h4 {
        font-size: 25px;
        line-height: 28px;
    }

    .foot-col ul li a {
        font-size: 18px;
        line-height: 25px;
    }

    .foot-items-right {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
    }

    .foot-items-right .site-btn {
        width: fit-content;
    }

    .foot-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }

    .foot-bottom .fbc-1 ul li a {
        font-size: 15px;
        line-height: 23px;
    }

    .foot-bottom .fbc-2 p {
        font-size: 15px;
        line-height: 23px;
    }

    .foot-anima {
        top: auto;
        height: 22.125rem;
    }

    .foot-anima svg {
        transform-origin: top right;
        left: 0;
        right: 0;
        margin: auto;
        transform: translate(-57%, -110%) rotate(-90deg);
    }

    .foot-anima::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 130px;
        background: linear-gradient(0, #000 30%, transparent);
        pointer-events: none;
    }

    /* Taha's Code */

    .cib-row {
        grid-template-columns: auto;
    }

    .cib-col2 {
        order: -1;
    }

    .cib-c1-top h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .cib-c1-bottom h3 {
        text-align: center;
    }

    .cib-row {
        padding-bottom: 3.75rem;
    }

    .cib-col1 {
        gap: 3.75rem;
    }

    .contact-grid {
        grid-template-columns: 1fr
    }

    .contact-col1 {
        max-width: 100%;
    }

    .contact-col2 .more-questions {
        max-width: 100%;
    }

    .contact-col2 .more-questions {
        max-width: 100%;
        min-height: 200px;
    }

    .contact-col1 h2 {
        max-width: 300px;
        font-size: 48px;
        line-height: 52px;
    }

    .contact-sec {
        padding-bottom: 3.75rem;
        padding-top: 3.75rem;
    }

    .meet-title h2 {
        font-size: 60px;
        line-height: 60px;
    }

    .meet-cntnt-holder {
        grid-template-columns: auto;
    }

    .mch-col1 {
        order: 2;
        margin-top: 30px;
    }

    .faq-banner-row {
        grid-template-columns: 1fr;
    }

    .fqb-col2 {
        display: none;
    }

    .fqb-col1 h1 {
        font-size: 4.25rem;
    }

    .faq-banner-row {
        padding-top: 30px;
    }

    .fls-row {
        grid-template-columns: 1fr;
    }

    .fq-btn-grid {
     max-width: 100%;
    }

    .accordions-wrap {
        padding: 0;
    }

    .faq-list-sec {
        width: 100%;
        position: relative;
        padding: 1rem 0px;
    }

    .faq-list-sec {
        overflow: hidden;
    }

    .fls-c1 {
       overflow-x: auto;
    }

    .fls-c1::-webkit-scrollbar {
        display: none;
    }

    .fq-btn-grid {
       display: flex;
       overflow-x: auto;
    }

    .fq-btn-grid::-webkit-scrollbar {
        display: none;
    }

    .site-btn.btn-blocked {
        min-height: 57px;
       width: 181px;
       min-width: 181px;
    }

    .btn-blocked>svg {
        display: none;
    }

    .values-title h2 {
        font-size: 60px;
        line-height: 75px;
    }

    .values-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .values-sec {
        padding: 3.5rem 0px;
    }

    .value-cell h3 {
        font-size: 28px;
    }

    .founder-title h2 {
        font-size: 75px;
        line-height: 75px;
    }

    .founder-title h3 {
        font-size: 23px;
    }

    .advisors-row {
        grid-template-columns: 1fr;
    }

    .advisors-col1 h2 {
        font-size: 50px;
    }

    .advisors-sec {
        padding: 4.5rem 0px;
    }

    .work-w-row {
        grid-template-columns: 1fr;
    }

    .work-w-col1 ul li {
        max-width: 100%;
    }

    .work-w-col1 h2 {
        font-size: 50px;
    }

    .video-slide-sec .meet-title h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .meet-sec {
        padding: 4.5rem 0px;
    }

    .nws-col2 form {
       max-width: 100%;
    }

    .reserve-row {
        grid-template-columns: 1fr;
    }

    .reserve-col1 h2 {
        font-size: 50px;
        line-height: 70px;
    }

    .reserve-col2 .package-col {
        max-width: 100%;
        margin-left: auto;
    }

    .reserve-row {
        gap: 150px;
    }

    .frq-row {
        grid-template-columns: 1fr;
    }

    .frq-col1 h2 {
        max-width: 100%;
    }

    .frq-col1 h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .dsg-row {
        grid-template-columns: 1fr;
    }

    .dsg-txt-row {
       flex-direction: column;
    }

    .dsg-txt-cell {
        max-width: 100%;
    }

    .dsg-txt-cell p {
        max-width: 100%;
    }

    .app-sec-row {
        grid-template-columns: 1fr;
    }

    .frequent-sec {
        overflow-x: hidden;
    }

    .wellness-title h2 {
        font-size: 59px;
        max-width: 100%;
        line-height: 60px;
    }

    .wellness-grid {
        grid-template-columns: 1fr;
    }

    .lt-title h2 {
        font-size: 60px;
        line-height: 60px;
    }

    .prod-cells-grid {
        grid-template-columns: 1fr;
    }

    .package-cntnt {
        grid-template-columns: 1fr;
    }

    .feature-top-title h2 {
        font-size: 50px;
        line-height: 50px;
        max-width: 550px;
    }

    .lt-cell {
        max-width: 100%;
    }

    .sspy-wrap {
        display: none;
    }

}

@media only screen and (max-width:575px) {
    /* Taha's Code */

    .cib-c1-top h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .cib-row {
        padding-bottom: 2.5rem;
    }

    .cib-col1 {
        gap: 2.5rem;
    }

    .meet-title h2 {
        font-size: 45px;
        line-height: 50px;
    }

    .meet-sec {
        padding: 4.5rem 0px;
    }

    .fqb-col1 h1 {
        font-size: 3.3rem;
    }

    .faq-banner-row {
        padding-top: 20px;
    }

    .fls-c2>h2 {
        font-size: 45px;
        line-height: 45px;
    }

    .nws-col1 h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .ln-title h3 {
        font-size: 25px;
        line-height: 33px;
    }

    .latest-news-title {
       flex-direction: column;
       align-items: flex-start;
       gap: 20px;
    }

    .latest-news-title h2 {
        font-size: 35px;
    }

    .video-slide-sec .meet-title h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .work-w-col1 h2 {
        font-size: 40px;
    }

    .adv-cntnt h4 {
        font-size: 20px;
        line-height: 20px;
    }

    .adv-cntnt p {
        font-size: 14px;
    }

    .advisor-cell {
        grid-template-columns: 40px 1fr max-content;
    }

    .founder-title h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .founder-title h3 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .founder-cntnt p {
        font-size: 16px;
    }

    .founder-sec {
        padding: 4.5rem 0px;
    }

    .values-title h2 {
        font-size: 50px;
        line-height: 50px;
    }
    
    .prod-banner .bcr-col2 h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .prod-banner-wrap {
        overflow-x: hidden;
    }

    .package-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .package-main {
        position: static;
    }

    .mirror-col1 h2 {
        max-width: 100%;
        font-size: 30px;
        line-height: 35px;
        padding: 5px 0px;
    }

    .mirror-col1 p {
        font-size: 18px;
        line-height: 27px;
    }

    .feature-top-title h2 {
        font-size: 40px;
    }

    .pc-content .pc-txt p {
      max-width: 100%;
      font-size: 10px;
      line-height: 15px;
    }

    .prod-cell .pc-content {
        padding: 20px;
    }

    .lt-title h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .asc-t-top-head h2 {
        font-size: 45px;
        line-height: 45px;
    }

    .wellness-title {
        margin-bottom: 50px;
    }

    .wellness-cell h3 {
        margin-bottom: 20px;
        font-size: 23px;
    }

    .wellness-grid {
        gap: 40px;
    }

    .wellness-cell p {
        font-size: 16px;
    }

    .app-play-wrap .site-btn {
        width: 65px;
    }

}