@media only screen and (max-width:1024px) {

    .site-header:has(.menu-toggle.active) {
        top: 0 !important;
    }

    .header-row {
        position: relative;
        justify-content: space-between;
    }

    .head-logo {
        position: relative;
        z-index: -1;
    }

    .head-logo svg {
        max-width: 27vw;
    }

    .head-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        z-index: 0;
        clip-path: inset(0rem round 0px);
        clip-path: inset(0.625rem round 8px);
        display: grid;
        padding: 40px calc(1.8778vw - 25px* 0.066) 40px;
        opacity: 0;
        pointer-events: none;
    }

    .head-more .btn-sq {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        pointer-events: none;
    }

    .head-more .btn-sq.menu-toggle {
        display: inline-flex;
        position: initial;
        opacity: 1;
        pointer-events: all;
    }

    .head-more .btn-sq.vid-toggle {
        left: calc(40px + 10px);
    }

    .site-header {
        padding: 20px calc(1.8778vw - 25px* 0.066) 20px;
    }

    .head-nav ul {
        flex-direction: column;
        height: 100%;
    }

    .head-nav ul li {
        font-size: max(22.4px, 1.75rem);
        line-height: max(22.4px, 1.75rem);
    }

    .head-nav ul li a:not(.site-btn) span:nth-child(2) {
        top: 150% !important;
        opacity: 0 !important;
    }

    .head-nav ul li a:has(.site-btn) span {
        transform: none !important;
        opacity: 1 !important;
    }

    .head-nav ul li::after {
        opacity: 0;
    }

    .nv-wrap {
        width: calc(100% - 30px);
        margin: auto;
        height: 100%;
        position: relative;
    }

    .head-nav ul li:has(.site-btn) {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
    }

    .head-nav ul li .site-btn {
        width: 100%;
        background: #FF5E2B;
    }

    .head-nav ul li .site-btn:hover {
        background: #ffffff;
    }

    .head-nav ul li:hover a span:nth-child(1) {
        transform: none;
        opacity: 1;
    }

    .menu-toggle .btn-ics :is(.ics-top, .ics-bottom) {
        transform: none !important;
        opacity: 1 !important;
    }

    .menu-toggle .btn-ics :is(.ics-top, .ics-bottom) svg {
        transform: scale(1.6);
        transition: all 0.3s;
    }

    .site-btn.btn-sq.menu-toggle {
        background-color: #ffffff1a;
        color: #fff !important;
    }

    button.site-btn.btn-sq.menu-toggle:hover svg {
        color: #fff;
    }

    .menu-toggle .btn-ics :is(.ics-top, .ics-bottom) svg:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0.4);
        opacity: 0;
    }

    .menu-toggle.active .btn-ics :is(.ics-top, .ics-bottom) svg {
        transform: scale(0.4);
        opacity: 0;
    }

    .menu-toggle.active .btn-ics :is(.ics-top, .ics-bottom) svg:nth-child(2) {
        transform: scale(1.6);
        opacity: 1;
    }

    /* HEADER RESPONSIVE */

    .main-banner-sec {
        padding-bottom: 30px;
    }

    .mirror-sec {
        padding: 6.3rem 0px;
    }

    .mirror-col1 h2 {
        font-size: 56px;
        line-height: 56px;
    }

    .mirror-col1 p {
        font-size: 14px;
        line-height: 21px;
        max-width: 370px;
        margin-bottom: 30px;
    }

    .mirror-col1 ul li {
        padding: .625rem 0px;
        gap: 15px;
        font-size: 14px;
        line-height: 21px;
    }

    .mirror-col1 ul li .m-ico svg {
        width: 18px;
        height: 18px;
    }

    .mirror-col1 a {
        margin-top: 30px;
    }

    .mirror-row {
        grid-template-columns: 5fr 7fr;
        gap: 20px;
    }

    .mirror-gallery {
        grid-template-columns: 1fr 60px;
        gap: 15px;
    }

    .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
        height: 60px !important;
    }

    .mirror-gallery .slider-thumbnail .swiper-wrapper {
        transform: none !important;
        justify-content: center;
    }

    .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
        padding: 1px;
    }

    .mirror-col1 {
        padding-bottom: 35px;
    }

    .educate-cntnt-row {
        grid-template-columns: 2fr 5fr 5fr;
    }

    .educate-grad {
        height: 70px;
        width: 70px;
    }

    .educate-grad svg {
        max-width: 50px;
    }

    .educate-title h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .educate-txt p {
        font-size: 14px;
        line-height: 21px;
    }

    .educate-sec {
        padding-bottom: 6.3rem;
    }

    .rebranding-sec {
        padding: 3.75rem 0px;
    }

    .rebranding-row {
        grid-template-columns: 64.6% 4fr;
        align-items: end;
    }

    .rebranding-col1 h2 {
        font-size: 88px;
        line-height: 83px;
        width: calc(100vw - 15px);
        margin-bottom: 35px;
    }

    .rebranding-col2 {
        padding-top: 140px;
    }

    .rebranding-col1 {
        height: 100%;
    }

    .rebranding-col2>img {
        max-width: 300px;
    }

    .rbc-grid>img {
        max-width: 208px;
    }

    .rbc-cntnt p {
        font-size: 14px;
        line-height: 21px;
        max-width: 290px;
    }

    .rbc-cntnt a {
        margin-top: 0.85rem;
    }

    .latest-news-sec {
        padding: 6.3rem 0px 4.4rem;
    }

    .ln-grid {
        grid-template-columns: 2.8fr 3.9fr 4fr 1fr;
    }

    .ln-image img {
        width: 100%;
        max-width: 219px;
    }

    .ln-title h3 {
        font-size: 25px;
        line-height: 27px;
    }

    .ln-txt p {
        font-size: 14px;
        line-height: 21px;
    }

    .newsletter-sec {
        padding: 6.3rem 0px;
    }

    .newsletter-grid {
        grid-template-columns: 100%;
    }

    .nws-col1 h2 {
        font-size: 56px;
        line-height: 56px;
        max-width: 950px;
    }

    .nws-col2 form {
        max-width: 614px;
        margin-left: 0;
    }
}

@media only screen and (max-width:800px) {
    .banner-play {
        display: none;
    }

    .bcr-col1 {
        display: none;
    }

    .bcr-col2 {
        grid-column: span 2;
    }

    .banner-cntnt-row {
        gap: 30px;
    }

    .mirror-sec {
        padding: 4.7rem 0px;
    }

    .mirror-row {
        grid-template-columns: 100%;
    }

    .mirror-col1 {
        padding-bottom: 60px;
    }

    .mirror-col1 h2 {
        max-width: 100%;
        font-size: 48px;
        line-height: 53px;
        padding: 5px 0px;
    }

    .mirror-col1 p {
        max-width: 730px;
        font-size: 18px;
        line-height: 27px;
    }

    .mirror-col1 ul li {
        max-width: 100%;
    }

    .mirror-col1 ul li .m-ico svg {
        width: 25px;
        height: 25px;
    }

    .mirror-col1 ul li {
        font-size: 18px;
        line-height: 28px;
        gap: 25px;
    }

    .mirror-col1 a {
        margin-top: 40px;
    }

    .mirror-gallery {
        grid-template-columns: 100%;
    }

    .mirror-gallery .slider {
        max-width: 100%;
    }

    .mirror-gallery .slider-thumbnail .swiper-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
        width: 75px !important;
        height: 75px !important;
    }

    .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide:not(.swiper-slide-thumb-active) {
        filter: brightness(1.7) opacity(0.3);
    }

    .educate-cntnt-row {
        grid-template-columns: max-content 1fr;
        align-items: center;
    }

    .educate-txt {
        grid-column: span 2;
    }

    .educate-title h2 {
        max-width: 100%;
        font-size: 30px;
        line-height: 36px;
    }

    .educate-txt p {
        max-width: 100%;
        font-size: 18px;
        line-height: 27px;
    }

    .educate-sec {
        padding-bottom: 4.7rem;
    }

    .rebranding-sec {
        padding: 4.7rem 0px;
    }

    .rebranding-col1 h2 {
        font-size: 61px;
        line-height: 61px;
        width: 100%;
        text-align: center;
    }

    .rebranding-row {
        grid-template-columns: 100%;
    }

    .rbc-grid {
        grid-template-columns: 100%;
    }

    .rbc-grid>img {
        max-width: 327px;
        margin: 0 auto;
    }

    .rbc-cntnt p {
        font-size: 18px;
        line-height: 27px;
        max-width: 100%;
    }

    .rbc-cntnt a {
        margin-top: 1.15rem;
    }

    .rebranding-col2 {
        padding-top: 20px;
    }

    .rebranding-col2>img {
        margin: 0 auto;
        max-width: 450px;
    }

    .latest-news-sec {
        padding: 4.7rem 0px 2rem;
    }

    .latest-news-title h2 {
        font-size: 48px;
        line-height: 53px;
    }

    .site-btn {
        font-size: 14px;
        line-height: 14px;
    }

    .ln-grid {
        grid-template-columns: 100%;
    }

    .ln-image img {
        max-width: 506px;
        margin: 0 auto 10px;
    }

    .ln-title h3 {
        font-size: 30px;
        line-height: 33px;
    }

    .ln-txt p {
        font-size: 18px;
        line-height: 27px;
        max-width: 100%;
    }

    .ln-go {
        margin-left: 0;
    }

    .newsletter-sec {
        padding: 3.75rem 0px;
    }

    .nws-col1 h2 {
        font-size: 48px;
        line-height: 53px;
    }

    .footer-row {
        grid-template-columns: 100%;
        gap: 70px;
    }

    .foot-items-left {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875rem;
    }

    .foot-col h4 {
        font-size: 25px;
        line-height: 28px;
    }

    .foot-col ul li a {
        font-size: 18px;
        line-height: 25px;
    }

    .foot-items-right {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
    }

    .foot-items-right .site-btn {
        width: fit-content;
    }

    .foot-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }

    .foot-bottom .fbc-1 ul li a {
        font-size: 15px;
        line-height: 23px;
    }

    .foot-bottom .fbc-2 p {
        font-size: 15px;
        line-height: 23px;
        text-align: center;
    }

    .foot-anima {
        top: auto;
        height: 22.125rem;
    }

    .foot-anima svg {
        transform-origin: top right;
        left: 0;
        right: 0;
        margin: auto;
        transform: translate(-57%, -110%) rotate(-90deg);
    }

    .foot-anima::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 130px;
        background: linear-gradient(0, #000 30%, transparent);
        pointer-events: none;
    }
}

@media only screen and (max-width:575px) {
    .foot-anima svg {
        transform: translate(-63%, -110%) rotate(-90deg);
    }
}

@media only screen and (max-width:465px) {
    .foot-items-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}


@media only screen and (max-width:440px) {
    .bcr-col2 h1 {
        font-size: 34px;
        line-height: 37px;
    }

    .main-banner-sec {
        padding-bottom: 11px;
    }

    .mirror-sec {
        padding: 3rem 0px;
    }

    .mirror-col1 h2 {
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 5px;
    }

    .mirror-col1 p {
        font-size: 13px;
        line-height: 19px;
    }

    .mirror-col1 ul li {
        font-size: 13px;
        line-height: 19px;
        gap: 15px;
    }

    .mirror-col1 ul li .m-ico svg {
        width: 15px;
        height: 15px;
    }

    .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
        width: 54px !important;
        height: 54px !important;
    }

    .educate-cntnt-row {
        align-items: start;
        gap: 1.25rem;
    }

    .educate-grad {
        height: 57px;
        width: 57px;
        border-radius: 14px;
    }

    .educate-grad svg {
        max-width: 40px;
    }

    .educate-title h2 {
        font-size: 21px;
        line-height: 26px;
    }

    .educate-txt p {
        font-size: 13px;
        line-height: 19px;
    }

    .educate-images-row {
        margin-top: 60px;
    }

    .rebranding-sec {
        padding: 3.5rem 0px;
    }

    .rebranding-col1 h2 {
        font-size: 43px;
        line-height: 43px;
        text-align: left;
        margin-bottom: 0px;
    }

    .rbc-grid>img {
        max-width: 140px;
    }

    .rebranding-col1 {
        gap: 15px;
    }

    .rbc-grid {
        gap: 25px;
    }

    .rbc-cntnt p {
        font-size: 13px;
        line-height: 19px;
    }

    .latest-news-sec {
        padding: 3.5rem 0px 2rem;
    }

    .latest-news-title {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .latest-news-title h2 {
        font-size: 34px;
        line-height: 37px;
    }

    .latest-news-wrap {
        margin-top: 2.25rem;
    }

    .ln-title h3 {
        font-size: 21px;
        line-height: 24px;
    }

    .ln-txt p {
        font-size: 13px;
        line-height: 19px;
    }

    .nws-col1 h2 {
        line-height: 39px;
        font-size: 36px;
        padding-bottom: 3px;
    }

    .newsletter-grid {
        gap: 10px;
    }


    .foot-col h4 {
        font-size: 19px;
        line-height: 21px;
    }

    .foot-col ul li a {
        font-size: 13px;
        line-height: 16px;
    }

    .foot-bottom .fbc-1 ul li a,
    .foot-bottom .fbc-2 p {
        font-size: 12px;
        line-height: 18px;
    }
}