* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none
}

html {
    scroll-behavior: smooth
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    background-color: #0F0F0F;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

::selection {
    background: #ff5e2b;
    color: #000;
}

@font-face {
    font-family: 'Nuckle';
    src: url(../fonts/Nuckle-Hairline.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Nuckle';
    src: url(../fonts/Nuckle-Thin.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Nuckle';
    src: url(../fonts/Nuckle-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Nuckle';
    src: url(../fonts/Nuckle-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Nuckle';
    src: url(../fonts/Nuckle-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Nuckle';
    src: url(../fonts/Nuckle-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Nuckle';
    src: url(../fonts/Nuckle-Bold.ttf);
    font-weight: 700;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nuckle';
}

img {
    max-width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    font-family: 'Nuckle';
    overflow-x: clip;
    background-color: #F5F1EE;
    font-weight: 500;
}

button {
    cursor: pointer;
    outline: none;
}

.container-fluid {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 15px
}

.hidden {
    display: none;
}



/* Lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/* Lenis end */









/* Site Header */

.site-header {
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    padding: 40px calc(1.8778vw - 25px*0.066) 20px;
    z-index: 10;
    transition: background 0.3s, padding 0.3s;
}

.site-header.scrolled {
    background: #000;
    padding: 20px calc(1.8778vw - 25px*0.066) 20px;
}

.header-row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.head-logo svg {
    width: 100%;
    display: block;
    max-width: 187px;
}

.head-nav {
    flex: 1;
}

.head-nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.head-nav ul li {
    font-size: 16px;
    line-height: 16px;
    position: relative;
    color: #fff;
    font-weight: 500;
}

.head-nav ul li a span {
    display: block;
    transition: transform .35s, opacity .35s, top .35s;
    transition-timing-function: cubic-bezier(.66, 0, .34, 1);
    pointer-events: none;
}

.head-nav ul li a span:nth-child(2) {
    position: absolute;
    top: 150%;
    opacity: 0;
}

.head-nav ul li::after {
    background-color: currentColor;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 130%;
    transform: scale(0) translateZ(0);
    transform-origin: center;
    transition: transform .3s cubic-bezier(.32, .94, .6, 1);
    width: 4px;
    pointer-events: none;
}

.head-nav ul li:hover::after {
    transform: scale(1);
}

.head-nav ul li:hover a span:nth-child(1) {
    transform: translate(0px, -140%);
    opacity: 0;
}

.head-nav ul li:hover a span:nth-child(2) {
    opacity: 1;
    top: 0;
    transition-delay: 0.1s;
}

.head-more {
    display: flex;
    justify-content: flex-end;
    gap: .625rem;
}

.site-btn {
    padding: 12px 15px;
    align-items: center;
    display: inline-flex;
    font-size: 16px;
    color: #000000;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    position: relative;
    transition: color .3s cubic-bezier(.32, .94, .6, 1), opacity .3s cubic-bezier(.32, .94, .6, 1), border-color .2s cubic-bezier(.32, .94, .6, 1), background-color 0.3s;
    z-index: 0;
    background: #fff;
    border-radius: 4px;
    font-weight: 500;
}

.site-btn:hover {
    background: #FF5E2B;
}

.site-btn .btn-text {
    position: relative;
}

.site-btn .btn-text span {
    display: block;
    transition: all .3s cubic-bezier(.32, .94, .6, 1);
}


.site-btn .btn-text span:nth-child(2) {
    position: absolute;
    top: 150%;
    opacity: 0;
}

.site-btn:hover .btn-text span:nth-child(1) {
    transform: translate(0px, -140%);
    opacity: 0;
}


.site-btn:hover .btn-text span:nth-child(2) {
    top: 0;
    opacity: 1;
}

.site-btn.btn-dark {
    background: #FF5E2B;
}

.site-btn.btn-dark:hover {
    background: #000000;
    color: #fff;
}

.site-btn.btn-sq {
    aspect-ratio: 1/1;
    padding: 12px;
    background-color: #ffffff1a;
    color: #fff;
    transition: color .3s cubic-bezier(.32, .94, .6, 1), opacity .3s cubic-bezier(.32, .94, .6, 1), border-color 0.2s cubic-bezier(.32, .94, .6, 1), background-color 0.2s, color 0.3s;
    min-width: 40px;
}

.site-btn.btn-sq:hover {
    background: #ffffff;
    color: #000;
}

.btn-ics svg {
    display: block;
    height: 16px;
    width: 16px;
}

.btn-ics {
    position: relative;
}

.btn-ics :is(.ics-top, .ics-bottom) {
    transition: all 0.3s;
}

.btn-ics .ics-bottom {
    position: absolute;
    top: 150%;
    opacity: 0;
}

.site-btn:hover .btn-ics .ics-top {
    transform: translate(0px, -100%);
    opacity: 0;
}

.site-btn:hover .btn-ics .ics-bottom {
    opacity: 1;
    top: 0 !important;
}

.playin .ics-bottom .ics-play {
    display: none;
}

.playin .ics-bottom .ics-pause {
    display: block !important;
}

.menu-toggle {
    display: none;
}












/* Fancybox fixes */
.fancybox__slide.has-close-btn {
    padding: 0px !important;
    justify-content: center;
}

.fancybox__slide::before,
.fancybox__slide::after {
    display: none;
}

.fancybox__slide button.f-button.is-close-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #FF5E2B;
    opacity: 1;
    height: 40px;
    width: 40px;
}

.fancybox__slide button.f-button.is-close-btn svg {
    fill: #000 !important;
    stroke: #000;
    width: 16px !important;
    height: 16px;
}

.fancybox__slide button.f-button.is-close-btn:hover {
    background: #fff;
}

.fancybox__slide.has-close-btn .fancybox__content {
    width: 100% !important;
    aspect-ratio: auto !important;
    height: 100% !important;
}

.fancybox__slide.has-close-btn .fancybox__content video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fancybox__backdrop {
    background: #000 !important;
    opacity: 1 !important;
}

.has-map .fancybox__content,
.has-pdf .fancybox__content,
.has-youtube .fancybox__content,
.has-vimeo .fancybox__content,
.has-html5video .fancybox__content {
    background: #000 !important;
}





/* Banner Section */

.main-banner-sec {
    width: 100%;
    position: relative;
    min-height: 100vh;
    background: #0A0A0A;
    clip-path: inset(0 0);
    transition: clip-path 0.8s;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    padding: 1.625rem calc(1.8778vw - 25px*0.066) 2.625rem;
    animation-delay: 1s;
}

.main-banner-sec.reveal {
    clip-path: inset(0.625rem round 8px);
    animation: clip 1s cubic-bezier(0.22, 0.2, 0.29, 1.05);
}

@keyframes clip {
    from {
        clip-path: inset(0 0);
    }

    to {
        clip-path: inset(0.625rem round 8px);
    }
}

.banner-media {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-media video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.banner-cntnt-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17%;
    align-items: end;
}

.bcr-col1 svg {
    display: block;
    width: 100%;
    max-width: 496px;
}

.bcr-col2 h1 {
    color: #fff;
    font-size: 57px;
    line-height: 37px;
    font-weight: 500;
    padding: 10px 0 4px;
}

.main-banner-sec a[data-fancybox] {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: context-menu;
    -webkit-user-drag: none;
}


.banner-play {
    position: relative;
    z-index: 3;
}

.banner-play>.site-btn.btn-sq {
    aspect-ratio: auto;
    padding: 4px;
    padding-right: 15px;
    white-space: nowrap;
    gap: 15px;
    background: #FF5E2B;
    color: #000;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transform-origin: right;
    transition: none;
}

.banner-play>.site-btn.btn-sq .site-btn.btn-sq {
    padding: 8px;
    min-width: 30px;
    color: #000;
    background-color: #00000024;
}













/* Mirror Sec */

.mirror-sec {
    width: 100%;
    position: relative;
    padding: 7.5rem 0px;
}

.mirror-row {
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 7fr;
    gap: 30px;
}

.mirror-col1 {
    width: 100%;
}

.mirror-col1 h2 {
    font-size: 68px;
    line-height: 68px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    max-width: 490px;
}

.mirror-col1 p {
    font-size: 17px;
    line-height: 26px;
    color: #000;
    font-weight: 500;
    max-width: 470px;
    margin-bottom: 40px;
}

.mirror-col1 ul li {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 470px;
    padding: .625rem 0px;
    align-items: center;
    gap: 17px;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
}

.mirror-col1 ul li .m-ico svg {
    width: 20px;
    height: 20px;
}

.mirror-col1 ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s;
}

.mirror-col1 ul li:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s;
}

.mirror-col1 ul li.reveal::before,
.mirror-col1 ul li.reveal::after {
    transform: scaleX(1);
}

.mirror-col1 a {
    margin-top: 40px;
}


.mirror-col2 {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mirror-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 20px;
}

.mirror-gallery .slider-thumbnail {
    width: 100%;
    overflow: hidden;
}

.mirror-gallery .slider {
    width: 100%;
    max-width: 718px;
    margin-left: auto;
}

.mirror-gallery .slider .swiper-slide {
    width: 100% !important;
    border-radius: 10px;
}

.mirror-gallery .slider .swiper-slide:not(.swiper-slide-active) {
    opacity: 0 !important;
}

.mirror-gallery .slider .swiper-slide img {
    width: 100%;
    border-radius: 12px;
    aspect-ratio: 1 / 1;
    display: block;
    object-fit: cover;
}

.swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0;
    border: 1px solid transparent;
    overflow: visible !important;
}


.swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide img {
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
    padding: 4px;
    border: 1px solid #FF5E2B;
}















/* Educate Sec */

.educate-sec {
    width: 100%;
    padding-bottom: 7.5rem;
}

.educate-cntnt-row {
    width: 100%;
    padding-top: 1.875rem;
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.educate-grad {
    width: 85px;
    height: 85px;
    background: linear-gradient(90deg, #ffa41c, #ff362a);
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.educate-grad svg {
    width: 90%;
    max-width: 62px;
}

.educate-title {
    width: 100%;
}

.educate-title h2 {
    font-size: 34px;
    line-height: 41px;
    font-weight: 500;
    color: #000;
    max-width: 400px;
}

.educate-txt {
    width: 100%;
}

.educate-txt p {
    font-size: 17px;
    line-height: 26px;
    color: #000;
    font-weight: 500;
    max-width: 470px;
}

.educate-images-row {
    margin-top: 120px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.ei-cell-1 {
    width: 100%;
    display: grid;
    grid-template-rows: 43% 1fr;
    gap: 2px;
}

.ei-cell-2 {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 43%;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.ei-cell-2 .ei-cc:first-child {
    grid-column: span 2;
}

.ei-cc {
    width: 100%;
    background: #ebdfd5;
    border-radius: 8px;
}

.ei-cc img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}











/* Rebranding Sec */

.rebranding-sec {
    width: 100%;
    padding: 7.5rem 0px;
    background: #000;
}

.rebranding-row {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 30px;
}

.rebranding-col1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.rebranding-col1 h2 {
    padding: 20px 0px;
    font-size: 104px;
    line-height: 102px;
    font-weight: 500;
}

.text-grad {
    background: linear-gradient(90deg, #ffa41c, #ff362a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.rbc-grid {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 3.125rem;
    align-items: end;
}

.rbc-grid>img {
    width: 100%;
    max-width: 224px;
    aspect-ratio: 1/1;
    display: block;
    border-radius: 8px;
}

.rbc-cntnt p {
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    max-width: 350px;
}

.rbc-cntnt a {
    margin-top: 1.25rem;
}

.rbc-cntnt .site-btn.btn-dark:hover {
    background: #fff;
    color: #000;
}

.rebranding-col2 {
    width: 100%;
}

.rebranding-col2>img {
    width: 100%;
    max-width: 470px;
    margin-left: auto;
    object-fit: contain;
}

















/* Latest News Sec */


.latest-news-sec {
    width: 100%;
    padding-top: 7.5rem;
    padding-bottom: 5rem;
}

.latest-news-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-news-title h2 {
    font-size: 68px;
    line-height: 68px;
    font-weight: 500;
    color: #000;
}

.btn-outlined {
    background: transparent;
    border: 1px solid #000;
}

.btn-outlined:hover {
    border-color: transparent;
}

.latest-news-wrap {
    width: 100%;
    margin-top: 3.75rem;
}

.latest-news-cell {
    width: 100%;
    position: relative;
    transition: all 0.3s;
    background: transparent;
}

.ln-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 100px;
    padding: 1.875rem 0px;
    gap: 20px;
}

.ln-grid>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
}

.ln-grid::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 30px);
    max-width: 1550px;
    margin: 0 auto;
    border-top: 1px solid #000;
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.3s;
}

.ln-image {
    width: 100%;
}

.ln-image img {
    width: 70%;
    max-width: 448px;
    display: block;
    object-fit: cover;
    background: #ffffff;
    border-radius: 8px;
}

.ln-title {
    width: 100%;
}

.ln-title h3 {
    font-size: 30px;
    line-height: 33px;
    font-weight: 500;
    color: #000;
    padding-bottom: 10px;
}

.ln-txt {
    width: 100%;
}

.ln-txt p {
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
    max-width: 348px;
}

.ln-go {
    margin-left: auto;
    pointer-events: none;
}

.ln-go .site-btn.btn-sq {
    background: #fff;
    color: #000;
}

.ln-go .site-btn.btn-sq svg {
    transform: rotate(-45deg);
}

.latest-news-cell:hover .ln-go .site-btn.btn-sq {
    background-color: #FF5E2B;
}

.latest-news-cell:hover {
    background: #FAF8F7;
}















/* Newsletter Sec */

.newsletter-sec {
    width: 100%;
    padding: 7.5rem 0px;
    background: #fff;
}

.newsletter-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 30px;
}

.nws-col2 {
    width: 100%;
}

.nws-col1 h2 {
    font-size: 68px;
    line-height: 68px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 20px;
}

.nws-col2 form {
    position: relative;
    max-width: 470px;
    margin-left: auto;
}

form .field {
    position: relative;
    width: 100%;
    padding-top: 12px;
}

form .field input {
    width: 100%;
    height: 40px;
    line-height: 50px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    background-color: transparent;
    border-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    border-width: 1px;
    font-family: Nuckle, Arial, Helvetica, sans-serif;
    font-size: max(12.8px, 1rem);
    --tw-text-opacity: 1;
    color: #000;
    outline: none;
}

form .field label {
    background-color: #fff;
    display: inline-flex;
    font-size: max(12px, .75rem);
    left: .625rem;
    line-height: 1.5;
    margin-bottom: 0;
    padding-left: .3125rem;
    padding-right: .3125rem;
    pointer-events: none;
    position: absolute;
    top: 3px;
    z-index: 1;
    font-weight: 500;
}

form .field label::before {
    content: "*";
}

form .field input:is(:hover, :valid, :focus) {
    border-color: rgba(0, 0, 0, 8);
}

.field-check {
    width: 100%;
    margin: 1.25rem 0px;
}

.field-check label {
    width: 100%;
    display: flex;
    gap: .9375rem;
}

.field-check label input {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.field-check label .fake-check {
    display: block;
    height: 20px;
    padding: inherit;
    position: relative;
    transition: opacity .3s, background-color .3s, border .3s;
    transition-timing-function: cubic-bezier(.32, .94, .6, 1);
    width: 20px;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .3);
    min-width: 20px;
    cursor: pointer;
}

.field-check label .fake-check:hover {
    border-color: rgba(0, 0, 0, 0.8);
}

.field-check label .fake-check img {
    transition: all 0.3s;
    transform: scale(0);
}

.field-check label:has(input:checked) .fake-check {
    background: #ff5e2b;
    border-color: transparent;
}

.field-check label:has(input:checked) .fake-check img {
    transform: scale(0.8);
}

.field-check p {
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    color: #000;
}

.field-check p a {
    text-decoration: underline;
}

form:has(.field-check label input:not(:checked)) button.site-btn {
    background: #F6F4F3;
    color: #6b6b6b;
    pointer-events: none;
}
















/* Footer */

.site-footer {
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.faq-list-sec+.site-footer {
    background: #f5f1ee;
}

.foot-wrap {
    width: 100%;
    position: relative;
    background: #000;
    color: #fff;
    transition: clip-path .7s cubic-bezier(.32, .94, .6, 1), -webkit-clip-path .7s cubic-bezier(.32, .94, .6, 1);
    /* transition-delay: .5s; */
    clip-path: inset(0px 0px);
    padding: 2.675rem 1.525rem 1.55rem;
}

.foot-wrap.reveal {
    clip-path: inset(.625rem round 8px);
}

.foot-anima {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0px;
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 15px;
    /* overflow: hidden; */
}

.footer-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.foot-items-left {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.foot-col {
    width: 100%;
}

.foot-col h4 {
    font-size: 23px;
    line-height: 25px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.foot-col ul li a {
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 0px;
    margin-top: 4px;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
}

.foot-col ul li a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #ffffffa8;
    transition: transform 0.3s;
    transform-origin: right;
    transform: scaleX(0);
}

.foot-col ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.foot-items-right {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
}

.foot-items-right .btn-outlined {
    color: #fff;
    border-color: #fff;
}

.foot-items-right .btn-outlined:hover {
    background: #fff;
    color: #000;
}

.foot-items-right .site-btn:not(.btn-outlined) {
    background: #FF5E2B;
    border: 1px solid transparent;
}

.foot-items-right .site-btn:not(.btn-outlined):hover {
    background: #fff;
}

.foot-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 18.125rem;
    opacity: .65;
}

.foot-bottom .fbc-1 ul {
    display: flex;
    gap: 2.5rem;
}

.foot-bottom .fbc-1 ul li a {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    font-weight: 500;
    position: relative;
}

.foot-bottom .fbc-1 ul li a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #ffffffa8;
    transition: transform 0.3s;
    transform-origin: right;
    transform: scaleX(0);
}

.foot-bottom .fbc-1 ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.foot-bottom .fbc-2 p {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    font-weight: 500;
    position: relative;
}

.foot-anima svg {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    right: 7.5rem;
    width: 100%;
    max-width: 766px;
    overflow: visible;
}

@keyframes waveAnimation-ccb0efbb {
    0% {
        opacity: 1;
        transform: scaleX(1)
    }

    to {
        opacity: 0;
        transform: scale3d(var(--scale-limit), var(--scale-limit), 1)
    }
}

.circles[data-v-ccb0efbb] {
    animation: waveAnimation-ccb0efbb 10s cubic-bezier(.4, 0, .68, .06) calc(var(--index)* 2s) infinite forwards;
    --scale-limit: 25;
    transform-box: fill-box;
    transform-origin: center;
}































/* Contact Page */

.c-inner-banner-sec {
    width: 100%;
    background: #000;
    min-height: 80lvh;
}

.cib-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 30px;
    padding: 7.5rem 0px;
    padding-left: calc(1.8778vw - 25px*0.066);
}

.cib-col1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.125rem 0 2.5rem;
    gap: 20px;
}

.cib-c1-top h1 {
    font-size: 95px;
    line-height: 90px;
    font-weight: 500;
}

.cib-c1-bottom h3 {
    font-size: 30px;
    line-height: 33px;
    font-weight: 500;
    color: #ffffff;
}

.cib-c1-bottom>img {
    width: 40%;
    max-width: 220px;
    display: block;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

.cib-col2 img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 820/785;
}

.contact-sec {
    width: 100%;
    padding: 7.5rem 0px;
}

.contact-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
}

.contact-col1 {
    width: 100%;
    max-width: 528px;
}

.contact-col1 h2 {
    font-size: 61px;
    line-height: 61px;
    color: #000;
    font-weight: 500;
    margin-bottom: 40px;
}

.contact-col1 .field:not(:first-child) {
    margin-top: 20px;
}

.contact-col1 .field label {
    background: #f5f1ee;
}

form .field select {
    width: 100%;
    height: 40px;
    line-height: 50px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    background-color: transparent;
    border-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    border-width: 1px;
    font-family: Nuckle, Arial, Helvetica, sans-serif;
    font-size: max(12.8px, 1rem);
    --tw-text-opacity: 1;
    color: #000;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

form .field select:is(:hover, :valid, :focus) {
    border-color: rgba(0, 0, 0, 8);
}

form .field select+svg {
    position: absolute;
    bottom: 1px;
    height: 20px;
    right: 2px;
    background: #f5f1ee;
    width: 48px;
    margin: auto;
    top: 13px;
}

form .field textarea {
    width: 100%;
    height: 40px;
    line-height: 50px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    background-color: transparent;
    border-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    border-width: 1px;
    font-family: Nuckle, Arial, Helvetica, sans-serif;
    font-size: max(12.8px, 1rem);
    --tw-text-opacity: 1;
    color: #000;
    outline: none;
    min-height: 127px;
}

form .field textarea:is(:hover, :valid, :focus) {
    border-color: rgba(0, 0, 0, 8);
}

.contact-col2 {
    width: 100%;
}

.contact-col2 .more-questions {
    width: 100%;
    max-width: 310px;
    margin-left: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 80px;
}

.mq-top h3 {
    font-size: 30px;
    line-height: 33px;
    color: #000;
    font-weight: 500;
}

.mq-bottom .site-btn {
    width: 100%;
}

.contact-col1 .field-check p {
    font-size: 17px;
    line-height: 26px;
}



.meet-sec {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 7.5rem 0px;
    background-color: #000;
    background-image: url(..//images/meet.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.meet-sec::after {
    content: "";
    background: linear-gradient(180deg, transparent 92%, #000 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.meet-sec+.site-footer {
    background: #000;
}

.meet-title {
    width: 100%;
    margin-bottom: 120px;
}

.meet-title h2 {
    padding: .2em 0px 0px;
    font-size: 91px;
    line-height: 86px;
    color: #fff;
    font-weight: 500;
    max-width: 800px;
}

.meet-cntnt-holder {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: end;
}

.meet-sec .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mch-col1 {
    position: relative;
    z-index: 2;
}

.mch-col2 {
    width: 100%;
}

.mch-col2 .swiper-slide {
    width: 100%;
    max-width: 295px;
    height: auto;
    transition: all 0.3s;
}

.mch-col2 .swiper-slide.swiper-slide-prev,
.mch-col2 .swiper-slide:has(~ .swiper-slide-prev) {
    transform: scale(0.8) translate(100%, 0px);
    transform-origin: right;
    opacity: 0;
    pointer-events: none;
}

.meet-card {
    position: relative;
    background: #fff;
    padding: 27px 18px;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meet-card>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
}

.mch-col2 .swiper-wrapper {
    height: auto;
    align-items: stretch;
}

.swiper.meetSwiper {
    overflow: visible;
}

.mtc-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 54px;
}

.mtc-top h4 {
    font-size: 25px;
    line-height: 28px;
    color: #000;
    font-weight: 500;
    flex: 1;
    max-width: 222px;
}

.mtc-top svg {
    height: 25px;
    width: 25px;
    min-width: 25px;
    margin-top: -10px;
    transform: rotate(-45deg);
    transition: all 0.3s;
}

.meet-card:hover .mtc-top svg {
    transform: rotate(-45deg) translate(10px, 2px);
}

.mtc-bottom span {
    display: block;
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    font-weight: 500;
}

.mtc-bottom p {
    font-size: 15px;
    line-height: 22px;
    color: #000;
    font-weight: 500;
}

.mch-col1 .btn-sq {
    background: #FF5E2B;
    color: #000;
}

.mch-col1 .btn-sq.swiper-button-disabled {
    background: #0000002e;
    color: #ffffff8c;
}

.mch-col1 {
    display: flex;
    gap: 10px;
}













/* About Us Page */

.values-sec {
    width: 100%;
    padding: 7.5rem 0px;
}

.values-title {
    width: 100%;
    padding: 20px 0px 3.75rem;
}

.values-title h2 {
    font-size: 105px;
    line-height: 95px;
    color: #000;
    font-weight: 500;
}

.values-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px 3px;
}

.value-cell {
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
}

.value-cell h3 {
    font-size: 33px;
    line-height: 37px;
    color: #000;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.value-cell p {
    font-size: 17px;
    line-height: 25px;
    color: #000;
    font-weight: 500;
    max-width: 549px;
}

.founder-sec {
    position: relative;
    z-index: 1;
    display: grid;
    width: 100%;
    min-height: 100vh;
    padding: 7.5rem 0px;
    background-color: #a7a295;
    background-image: url(../images/founder-bg.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.founder-sec .container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.founder-sec::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgb(0 0 0 / 1);
    opacity: .3;
    z-index: -1;
}

.founder-title {
    width: 100%;
    padding-top: 20px;
}

.founder-title h2 {
    font-size: 113px;
    line-height: 105px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.founder-title h3 {
    font-size: 27px;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
}

.founder-cntnt {
    width: 100%;
}

.founder-cntnt p {
    width: 100%;
    max-width: 630px;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 500;
}






.advisors-sec {
    width: 100%;
    padding: 7.5rem 0px;
}

.advisors-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 20px;
}

.advisors-col1 h2 {
    font-size: 67px;
    line-height: 67px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
}

.advisors-col1 p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    color: #000;
    max-width: 477px;
}

.advisors-list {
    width: 100%;
}

.advisor-cell {
    position: relative;
    width: 100%;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 100px 1fr max-content;
    gap: 20px;
}

.adv-img {
    width: 100%;
}

.adv-img img {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 8px;
    object-fit: cover;
}

.adv-cntnt {
    width: 100%;
}

.adv-cntnt h4 {
    font-size: 29px;
    line-height: 32px;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
}

.adv-cntnt p {
    font-size: 17px;
    line-height: 25px;
    color: #000;
    font-weight: 500;
}

.adv-ico .site-btn.btn-sq {
    background: #e8e4e1;
    color: #000;
    padding: 5px;
    min-width: 25px;
}

.adv-ico .site-btn.btn-sq:hover {
    background: #000;
    color: #fff;
}

.advisor-cell::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid #000;
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.3s;
}









.work-w-sec {
    width: 100%;
    position: relative;
    padding: 0px 0px 7.5rem;
}

.wws-prod-sec {
    padding-top: 7.5rem;
}

.work-w-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.work-w-col1 {
    width: 100%;
}

.work-w-col1 h2 {
    font-size: 68px;
    line-height: 68px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    max-width: 490px;
}

.work-w-col1 p {
    font-size: 17px;
    line-height: 26px;
    color: #000;
    font-weight: 500;
    max-width: 470px;
    margin-bottom: 24px;
}

.work-w-col1 ul {
    margin-top: 40px;
}

.work-w-col1 ul li {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 470px;
    padding: .625rem 0px;
    align-items: center;
    gap: 17px;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
    font-weight: 500;
}

.work-w-col1 ul li .m-ico svg {
    width: 20px;
    height: 20px;
}

.work-w-col1 ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s;
}

.work-w-col1 ul li.reveal::before {
    transform: scaleX(1);
}

.work-w-col1 ul li:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #000;
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.3s;
}

.work-w-col1 a {
    margin-top: 40px;
}

.work-w-col2 {
    width: 100%;
}


.work-w-col2 img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

.site-btn.has-ico {
    padding: 3px;
    gap: 15px;
    padding-left: 15px;
}

.site-btn.has-ico .btn-sq {
    padding: 5px;
    min-width: 35px;
    color: #000;
}

.site-btn:hover.has-ico .btn-sq {
    background: #ffffff1a;
    color: #fff;
}






.meet-sec.video-slide-sec {
    background-image: none;
    z-index: 1;
}

.video-slide-sec .bg-layer {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-slide-sec .bg-layer video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.meet-sec.video-slide-sec::after {
    background: linear-gradient(180deg, #0a0a0a4d, #0a0a0a26);
    z-index: -1;
}

.video-slide-sec .meet-title h2 {
    max-width: 100%;
    font-size: 72px;
    line-height: 72px;
}


.video-slide-sec .mch-col2 .swiper-slide {
    max-width: 340px;
}

.vs-card .mtc-top img {
    width: calc(100% - 70px);
    height: 35px;
    display: block;
    object-fit: contain;
    object-position: left;
    flex: 1;
}

.meet-card.vs-card {
    min-height: 418px;
}












/* FAQs Page */

.faq-banner-sec {
    width: 100%;
    background: #000;
    padding: 7.5rem 0px 2.5rem;
}

.faq-banner-row {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 30px;
    padding-top: 90px;
}

.fqb-col1 h1 {
    font-size: 113px;
    line-height: 107px;
    font-weight: 500;
    padding: 20px 0px;
}

.fqb-col2 h2 {
    font-size: 32px;
    line-height: 35px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 12px;
    padding-bottom: 10px;
}

.site-btn.btn-underlined {
    background: transparent;
    color: #fff;
    padding: 0px 0px 7px;
    gap: 10px;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

.site-btn.btn-underlined .btn-text span {
    white-space: nowrap;
}

.site-btn.btn-underlined>svg {
    height: 14px;
    width: 14px;
}





.faq-list-sec {
    width: 100%;
    position: relative;
    padding: 7.5rem 0px;
}

.fls-row {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 30px;
}

.fls-c1 {
    width: 100%;
}

.fq-btn-grid {
    width: 100%;
    max-width: 465px;
    position: sticky;
    top: 6.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.site-btn.btn-blocked {
    min-height: 83px;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
}

.btn-blocked>svg {
    display: block;
    width: 20px;
    height: 20px;
}

.site-btn.btn-blocked .btn-text {
    flex: 1;
}

.btn-blocked.active {
    background: #FF5E2B;
}

.btn-blocked.active .btn-text span:nth-child(1) {
    transform: translate(0px, -140%);
    opacity: 0;
}

.btn-blocked.active .btn-text span:nth-child(2) {
    top: 0;
    opacity: 1;
}

.fls-c2 {
    width: 100%;
}

.fls-c2>h2 {
    font-size: 72px;
    line-height: 72px;
    color: #000;
    font-weight: 500;
    padding: 0 0 10px;
}

.fls-c2 .accordions-wrap {
    margin-top: 30px;
}

.accordions-wrap {
    width: 100%;
    padding-right: 1.875rem;
}

.accordion {
    width: 100%;
    position: relative;
    padding-bottom: 10px;
}

.accordion::after {
    border-radius: 8px;
    bottom: 0;
    content: "";
    left: -1.875rem;
    position: absolute;
    right: -1.875rem;
    top: 0;
    z-index: -1;
    background-color: #fff;
    transition: opacity .4s cubic-bezier(.32, .94, .6, 1), transform .6s cubic-bezier(.32, .94, .6, 1);
    opacity: 0;
}


.accordion::before {
    border-top: 1px solid #000;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .4s cubic-bezier(.32, .94, .6, 1);
    width: 100%;
    transform-origin: left;
    transform: scaleX(0);
}

.accordion:has(h4.reveal)::before {
    transform: scaleX(1);
}

.accordion h4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    font-size: 25px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
    padding: 30px 0px 20px;
    align-items: baseline;
    cursor: pointer;
    user-select: none;
}

.accordion h4 .btn-sq {
    background: #fff;
    color: #000;
}

.accordion:hover h4 .btn-sq,
.accordion h4.open .btn-sq {
    background: #ff5e2b;
}

.accordion h4 .btn-sq .y {
    transform-origin: center;
    transition: transform .2s cubic-bezier(.32, .94, .6, 1);
}

.accordion h4.open .btn-sq .y {
    transform: scaleY(0) translateZ(0);
}

.accordion:has(h4.open)::after {
    opacity: 1;
}

.accordion:has(h4.open)::before,
.accordion:has(h4.open)+.accordion::before {
    opacity: 0;
}

.accordion-content p {
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    font-weight: 500;
    width: 90%;
    max-width: 710px;
    padding-bottom: 20px;
}










/* Product Page */
.prod-banner-wrap {
    background: #000000;
}

.main-banner-sec.prod-banner {
    background: linear-gradient(90deg, #ffa41c, #ff362a);
}

.prod-banner .banner-cntnt-row {
    grid-template-columns: 8fr 4fr;
}

.prod-banner .bcr-col2 h1 {
    font-size: 113px;
    line-height: 107px;
}








.package-sec {
    width: 100%;
    position: relative;
}

.package-bg {
    width: 100%;
    height: 100%;
    position: relative;
}

.package-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.package-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #000000 0%, transparent 10%, transparent 90%, #000000 100%);
}

.package-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 7.5rem 0px 5rem;
    display: grid;
}

.package-cntnt {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 30px;
    position: sticky;
    top: 5rem;
}

.package-col h2 {
    font-size: 36px;
    line-height: 40px;
    color: #fff;
}

.package-col p {
    color: #fff;
    max-width: 496px;
}

.package-col ul li::before,
.package-col ul li::after {
    border-color: #fff !important;
}

.package-col ul li {
    color: #fff;
    padding: 12px 0px;
    max-width: 100%;
}

.package-col ul li p {
    margin: 0px;
    font-size: 18px;
    line-height: 27px;
    flex: 1;
}

.package-col ul li .p-ico {
    min-width: 30px;
}

.package-col ul li .p-ico b {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.package-col ul li small {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #968b88;
    max-width: 110px;
    text-align: right;
}

.package-col a {
    width: 100%;
}














.prod-cells-grid-sec {
    width: 100%;
    background: #000;
    color: #fff;
    padding-bottom: 7.5rem;
}

.feature-top {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.feature-top model-viewer {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: block;
}

.feature-top-title {
    width: 100%;
    padding-top: 60px;
}

.feature-top-title h2 {
    font-size: 113px;
    line-height: 107px;
    font-weight: 500;
    max-width: 1100px;
    color: #ffffff;
    padding-bottom: 20px;
}

.prod-cells-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.prod-cell {
    position: relative;
    width: 100%;
    height: 100%;
    background: #221E1D;
    overflow: hidden;
    border-radius: 8px;
}

.prod-cell .pc-content {
    width: 100%;
    padding: 33px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    gap: 20px;
}

.pc-content .pc-txt {
    flex: 1;
}

.pc-content .pc-txt h3 {
    width: 100%;
    max-width: 370px;
    font-size: 27px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.pc-content .pc-txt p {
    width: 100%;
    max-width: 370px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.pc-content .pc-ico svg {
    width: 80px !important;
    height: 80px !important;
}

.pc-media {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.pc-media img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.pc-media video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.prod-cell.large-cell {
    grid-column: span 2;
}







.lighting-sec {
    width: 100%;
    position: relative;
    color: #fff;
    background: #000;
}

.lighting-bg {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
}

.lighting-bg #frame {
    width: 100%;
    height: 100%;
    background-image: url(../sequence/sec-0130.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lighting-content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    margin-top: -100vh;
    padding: 7.5rem 0px 3.5rem;
}

.lt-title h2 {
    font-size: 113px;
    line-height: 107px;
    font-weight: 500;
    max-width: 900px;
    padding: 20px 0px;
}

.lt-title {
    width: 100%;
    margin-bottom: 80px;
}

.lt-timeline {
    width: 100%;
    padding-bottom: 25vh;
}

.lt-cell {
    width: 100%;
    min-height: 50vh;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 24%;
}

.lt-cell svg {
    width: 81px !important;
    height: 81px !important;
    display: block;
    margin-bottom: 20px;
}

.lt-cell h3 {
    font-size: 27px;
    line-height: 30px;
}

.lt-cell p {
    font-size: 18px;
    line-height: 27px;
    margin-top: 10px;
}

.lighting-bg::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #000, transparent);
    pointer-events: none;
}





.wellness-sec {
    width: 100%;
    min-height: 120vh;
    padding: 7.5rem 0px;
    background-image: url(../images/wellness.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
}

.wellness-sec::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    opacity: 0.3;
}

.wellness-sec .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wellness-title {
    width: 100%;
}

.wellness-title h2 {
    font-size: 113px;
    line-height: 107px;
    font-weight: 500;
    color: #ffffff;
    max-width: 1100px;
}

.wellness-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.wellness-cell {
    width: 100%;
    border-top: 1px solid #fff;
    padding-top: 10px;
}

.wellness-cell h3 {
    font-size: 27px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 45px;
}

.wellness-cell p {
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    font-weight: 500;
}



.app-sec {
    width: 100%;
    padding: 7.5rem 0px;
    position: relative;
}

.app-sec-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50.8%;
    gap: 60px;
}

.app-sec-col1 {
    width: 100%;
}

.app-play-wrap {
    position: sticky;
    top: 5rem;
}

.app-play-wrap img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 667/739;
}

.app-play-wrap .site-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 85px;
    background: #FF5E2B;
    color: #000;
}

.app-play-wrap .site-btn svg {
    height: 26px;
    width: 26px;
}

.app-sec-col2 {
    width: 100%;
}

.asc-top {
    width: 100%;
    margin-bottom: 100px;
}

.asc-top>p {
    font-size: 18px;
    line-height: 27px;
    color: #000;
    font-weight: 500;
    max-width: 508px;
}

.asc-t-top-head {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.asc-t-top-head h2 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 500;
    color: #000;
}

.asc-bottom {
    width: 100%;
}

.accordions-wrap-op {
    width: 100%;
    padding-right: 1.875rem;
}

.design-sec {
    width: 100%;
    padding: 0px 0px 7.5rem;
}

.dsg-row {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 7.2fr;
    gap: 30px;
}

.dsg-col1 {
    width: 100%;
}

.dsg-col1 .sticky-box {
    position: sticky;
    top: 5rem;
}

.dsg-col1 h2 {
    font-size: 72px;
    line-height: 72px;
    color: #000;
    font-weight: 500;
    padding: 0px 0px 10px;
}

.dsg-col2 {
    width: 100%;
    display: grid;
    gap: 80px;
}

.dsg-col2 .prod-cell {
    color: #fff;
}

.dsg-col2 .pc-media img {
    aspect-ratio: 896 / 606;
}

.dsg-txt-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.dsg-txt-cell {
    flex: 1;
    max-width: 370px;
}

.dsg-txt-cell h3 {
    font-size: 27px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
}

.dsg-txt-cell p {
    font-size: 18px;
    line-height: 27px;
    color: #000;
    font-weight: 500;
    max-width: 508px;
    margin-top: 12px;
}

.frequent-sec {
    width: 100%;
    padding: 0px 0px 7.5em;
    position: relative;
}

.frq-row {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 7.2fr;
    gap: 30px;
}

.frq-col1 {
    width: 100%;
}

.frq-col1 h2 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 500;
    color: #000000;
    max-width: 480px;
    padding: 10px 0px;
}

.frq-col1 .site-btn {
    margin-top: 45px;
}


.reserve-sec {
    width: 100%;
    height: max(43.75rem, 45.14vw);
    padding: 2.5em 0px 4em;
    background-image: url(../images/reserve.avif), linear-gradient(90deg, #ffa41c, #ff362a);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    z-index: 2;
    margin-bottom: -10px;
}

.reserve-row {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 30px;
}

.reserve-col1 h2 {
    font-size: 113px;
    line-height: 107px;
    color: #fff;
    font-weight: 500;
    padding: 28px 0px;
}

.reserve-col2 .package-col {
    max-width: 495px;
    margin-left: auto;
}

.reserve-col2 .btn-dark {
    background: #fff;
}

.reserve-sec+.site-footer {
    background: linear-gradient(90deg, #fed001 3%, #e23902);
}









.sspy-wrap {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 4;
    padding: 11px;
}

.sspy-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    background: #241f1f;
    border-radius: 8px;
    padding-left: 22px;
    overflow: hidden;
}

.sspy-col1 ul {
    height: 100%;
    display: flex;
    gap: 2.5rem;
}

.sspy-col1 ul a {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

.sspy-col1 ul a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .25rem;
    background: #ff5e2b;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: scaleY(0) translateZ(0);
    transform-origin: bottom;
    transition: transform .4s cubic-bezier(.32, .94, .6, 1);
    transition-delay: .15s;
}

.sspy-col1 ul a:hover::after,
.sspy-col1 ul a.active::after {
    transform: scaleY(1) translateZ(0);
}

.sspy-col2 .site-btn {
    border-radius: 0px;
    background: #ffffff1a;
    color: #fff;
    min-width: 205px;
    min-height: 66px;
    align-items: center;
    font-size: 18px;
}

.sspy-col2 .site-btn .btn-text {
    flex: 1;
}

.sspy-col2 .site-btn>svg {
    height: 20px;
    width: 20px;
}

.sspy-col2 .site-btn:hover {
    background: #ff5e2b;
}










h1,
h2,
h3,
h4,
.bcr-col1 svg,
.masker {
    -webkit-mask-image: linear-gradient(90deg, #fff 33.33%, transparent 66.66%);
    mask-image: linear-gradient(90deg, #fff 33.33%, transparent 66.66%);
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
    -webkit-mask-size: 300% 100%;
    mask-size: 300% 100%;
    transition: mask-position var(--duration, 2s) ease var(--delay, 0s),
        -webkit-mask-position var(--duration, 2s) ease var(--delay, 0s);
}

/* Reveal animation - moves the mask to show the content */
.reveal,
h1.reveal,
h2.reveal,
h3.reveal,
h4.reveal,
.bcr-col1 svg.reveal {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
}


.load-layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    z-index: 999;
    transition: all 0.2s ease-in-out;
}

.load-layer.hide {
    opacity: 0;
    pointer-events: none;
}